* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 10px;
  gap: 25px;
}


.main-header {
  background-color: rgb(25, 42, 197);
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.anchor {
  color: white;
  font-size: 14px;
  text-decoration: none;
}


.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0%;
  width: 100vw;
  height: 40px;
  background-color: rgb(25, 42, 197);
}

.footer p {
  color: white;
  font-size: 14px;
}
.socialIcons {
  display: flex;
  gap: 15px;
}
.socialIcon {
  width: 25px;
}
.banner {
  height: 150px;
  width: 80%;
  object-fit: cover;
  border-radius: 5px;
}
nav {
  position: absolute;
}
.headerIcon {
  width: 25px;
  position: relative;
  top: 47%;
  filter: drop-shadow(2px 2px 4px rgba(47, 47, 184, 0.685));
}

.welcome {
  font-size: 22px;
  font-weight: 400;
  color: rgb(9, 22, 201);
  margin-top: 15px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px;
}

.cardContainer {
  background-color: rgb(33, 35, 119);
  height: 150px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  border-radius: 10px;
}
.accTitle {
  color: rgb(0, 247, 255);
  font-weight: 400;
  font-size: 16px;
}
.accData {
  color: white;
  font-size: 14px;
}

.cardContainer2{
  /*background: linear-gradient(172deg, rgba(56,130,224,1) 0%, rgba(86,110,240,1) 47%, rgba(231,204,255,1) 100%);*/
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.493);
  height: 150px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  border-radius: 10px;
}
.SILVER {
  background: linear-gradient(172deg, rgba(222,222,222,1) 0%, rgba(162,162,162,1) 48%, rgb(105, 105, 105) 100%);
}
.GOLD {
  background: linear-gradient(172deg, rgba(254,249,92,1) 0%, rgba(200,172,43,1) 50%, rgba(154,154,3,1) 100%);
}
.TITANIUM{
  background: linear-gradient(172deg, rgba(176,221,230,1) 0%, rgba(194,255,254,1) 50%, rgba(128,192,195,1) 100%);
}
.cardTop {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
.chip {
  position: relative;
  top: 15%;
  left: 5%;
  height: 35px;
  width: 40px;
}
.type {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  color: rgb(33, 35, 128);
  margin: 0 15px;
}
.map {
  background-color: rgba(255, 255, 255, 0.568);
  border-radius: 5px;
  height: 25px;
  width: 45px;
}
.cardNumber {
  color: rgb(16, 86, 165);
  font-size: 22px;
  margin: 10px 0;
}
.dataHolder {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
}
.cardTitle {
  color: rgb(0, 0, 0);
  font-size: 16px;
}
.cardData {
  color: rgb(0, 0, 0);
  font-size: 8px;
}

.activeLoansTitle {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  filter: drop-shadow(2px 4px 10px rgba(13, 33, 212, 0.815));
}

.loansList div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid black;
}

.loansContainer {
  background-color: rgba(106, 146, 233, 0.664);
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
  border-radius: 15px;
}
.loansContainer p {
  border-bottom: 1px solid black;
  font-size: 14px;
}
.loansContainer select, input {
  width: 200px;
  height: 25px;
  border: none;
  border-radius: 5px;
}

.reqAcc {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

.newAccContainer {
  width: 350px;
  background-color: rgba(133, 133, 133, 0.171);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  align-items: center;
}
.newAccContainer h4 {
  text-align: center;
}
.newAccContainer input {
  text-align: center;
}
.newAccContainer div {
  background-color: blue;
  border-radius: 5px;
  height: 30px;
  width: 70px;
  padding: 6px 8px;
}

.newCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 25px;
}

.newCardForm {
  width: 350px;
  background-color: rgba(133, 133, 133, 0.171);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  align-items: center;
}

.newCardForm div {
  background-color: blue;
  border-radius: 5px;
  height: 30px;
  width: 70px;
  padding: 6px 8px;
}
.button {
  background-color: blue;
  border-radius: 5px;
  height: 50px;
  width: 120px;
  padding: 17px 12px;
}


.selectCard {
  width: 250px;
  border: none;
  text-align: center;
  height: 25px;
  border-radius: 5px;
}

/*  SignIn  */

.singHello {
  position: relative;
  top: 140px;
  left: 12%;
  font-size: 28px;
}
.containerSignIn {
  background-color: rgb(25, 42, 197);
  width: 350px;
  height: 220px;
  position: relative;
  left: 8%;
  top: 250px;
  border-radius: 15px;
}
.formIn, .formIn div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: white;
  font-size: 14px;
}

.formIn div:first-child {
  margin-top: 15px;
}

.formIn div input {
  text-align: center;
  color: black;
  font-size: 14px;
}

.formIn button {
  width: 120px;
  height: 35px;
  border-radius: 15px;
  background-color: rgb(13, 230, 110);
  border: none;
  font-size: 14px;
  font-weight: bold;
}